.gallery-container {
  position: relative;
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  transform: translate(-50px -50px);
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 12px;
  cursor: pointer;
}

.next-button{
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 50%;
}

.prev-button{
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 50%;
} 

.prev-button {
  right: 10px;
}

.next-button {
  left: 10px;
}